<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Lista de usuarios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/stylesheets/footer.css" rel="stylesheet">
    <link href="/stylesheets/users/users.css" rel="stylesheet">
</head>

<body>
    <header>
        <!--------- BARRA NAVEGADOR CELULAR Y TABLET ---------->
        <%- include('../partials/headerMobile.ejs') %> 
        <!--------- BARRA NAVEGADOR DESKTOP ---------->
        <%- include('../partials/headerDesktop.ejs') %> 
    </header>

<div class="container">

    <div class="profile-card">
        <div class="card-header">
            <div class="pic">
                <img src="pic.png" alt="">
            </div>
            <div class="name">John Doe</div>
            <div class="desc">carlos@carlos.com</div>
            <div class="desc">Num Tel: 3111111111</div>
            <div class="sm">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-github"></a>
                <a href="#" class="fab fa-youtube"></a>
            </div>
            <a href="/users/ver" class="contact-btn">Mas Información</a>
        </div>
        <div class="card-footer">
            <a href="#" class="contact-btn-2">Editar</a>
            <a href="#" class="contact-btn-2">Eliminar</a>
        </div>
    </div>
    

</div>


    <footer class="container-footer">
        <%- include('../partials/footer.ejs') %> 
    </footer>
</body>

</html>